<div style="padding-bottom: 8px">
  <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="42px" height="72px">
  <h1 class="h3 mb-3 font-weight-normal">Contact Us</h1>
  <input name="name" type="text" id="inputText" class="form-control" placeholder="Name" required>
  <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
  <input name="number" type="text" id="inputNumber" class="form-control" placeholder="Contact number" required>
  <input name="message" type="text" id="inputEmail" class="form-control" placeholder="Message" required><br>
  <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="alert('Message Sent')">Send</button>
</div>